;;; SPDX-FileCopyrightText: 2024 Jomco B.V.
;;; SPDX-FileCopyrightText: 2024 Topsector Logistiek
;;; SPDX-FileContributor: Joost Diepenmaat <joost@jomco.nl>
;;; SPDX-FileContributor: Remco van 't Veer <remco@jomco.nl>
;;;
;;; SPDX-License-Identifier: AGPL-3.0-or-later

{:deps {org.bdinetwork/association-registry {:git/url "https://github.com/Basic-Data-Infrastructure/association-registry.git"
                                             :git/sha "cdb64244948231cde6051c6398bbc094d94d6042"}

        compojure/compojure              {:mvn/version "1.7.1"}
        hiccup/hiccup                    {:mvn/version "2.0.0-RC3"}
        ring/ring-core                   {:mvn/version "1.12.2"}
        ring/ring-defaults               {:mvn/version "0.5.0"}
        ring/ring-jetty-adapter          {:mvn/version "1.12.2"}
        ring/ring-devel                  {:mvn/version "1.12.2"}
        org.clojure/data.json            {:mvn/version "2.5.0"}
        org.babashka/http-client         {:mvn/version "0.4.19"}
        org.babashka/json                {:mvn/version "0.1.6"}
        buddy/buddy-sign                 {:mvn/version "3.6.1-359"}
        ch.qos.logback/logback-classic   {:mvn/version "1.5.6"}
        org.clojure/tools.logging        {:mvn/version "1.3.0"}
        nl.jomco/ring-session-ttl-memory {:git/url "https://git.sr.ht/~jomco/ring-session-ttl-memory"
                                          :git/sha "0415dedace39e2d28b6dc66fcf1321e8e136ca2c"}
        nl.jomco/clj-http-status-codes   {:mvn/version "0.1"}

        ring-basic-authentication/ring-basic-authentication {:mvn/version "1.2.0"}

        ;; for tests
        org.clojure/core.async {:mvn/version "1.6.681"}
        ring/ring-mock         {:mvn/version "0.4.0"}

        ;; for uberjar
        org.clojure/clojure {:mvn/version "1.11.3"}}

 :paths ["src" "resources" "dev" "classes" "test"]

 :aliases
 {:test    {:extra-deps {lambdaisland/kaocha {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "kaocha.runner"]}
  :lint    {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "clj-kondo.main" "--lint" "src" "test"]}
  :uberjar {:replace-deps  {uberdeps/uberdeps {:mvn/version "1.3.0"}}
            :replace-paths []
            :main-opts     ["-m" "uberdeps.uberjar"]}}}
