:root {
    --color-bg: #f9e2c0;
    --color-button-primary: #f4f9c0;
    --color-button-primary-border: #bbbf93;
    --color-button-secondary: #f9c6c0;
    --color-button-secondary-border: #7f7362;
}
